@{
    ViewData["Title"] = "404";
}

@section Styles {
    <link rel="stylesheet" href="~/css/error.css" asp-append-version="true" />
}

<section class="not-found-page">
    <div class="not-found-content">
        <h1>404</h1>
    </div>
</section>
